@using Dominio.Entidades;

<div class="m-auto">
    <h1>@Context.Session.GetString("nombre") @Context.Session.GetString("apellido")</h1>
    <p>Correo: @Context.Session.GetString("email")</p>
    <p>Billetera: $@Context.Session.GetString("billetera")</p>
    @if (!string.IsNullOrEmpty(ViewBag.msj))
    {
        if (ViewBag.msjTipo == "success")
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.msj
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.msj
            </div>
        }
    }
    <form action="Usuario/Depositar" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" name="monto">
        </div>
        <button type="submit" class="btn btn-primary">Depositar</button>
    </form>
</div>

